<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/resources/css/reset.css">
    <link rel="stylesheet" href="/resources/css/main.css">
</head>

<body>
    <header class="navbar">
        <nav>
            <div class="navlink">
                <a href="/">
                    Home
                </a>
            </div>
            <div class="navlink">
                <a href="/meet-our-staff">
                    Meet our staff
                </a>
            </div>
            <div class="navlink">
                <a href="/video">
                    Video
                </a>
            </div>
        </nav>
    </header>
    <main>
    </main>
    <footer>
    </footer>
</body>

</html>